body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
    background-color: #0000005e;
    background-image: url("https://source.unsplash.com/1800x900/?landscape");
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

.card {
    padding: 2em;
    margin: 8px;  
    height: 400px;
    width: 100%;
    max-width: 450px; 
    border-radius: 45px; 
    background-color: #0000009c;
    font-size: 120%;
    font-family: inherit;
    text-transform: capitalize;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input.search-bar { 
    padding: 0.5em;
    height: 30px;
    width: 100%;
    max-width: calc(100% - 75px);
    border-radius: 44px;
    border: none;  
    background-color: #272729;
    color: #e5e5f7;
    outline: none;
    font-size: 120%;
    font-family: inherit;
}

button {
    padding: 4px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    outline: none;  
    background-color: #272729;
    color: white;
}

button:hover { 
    background-color: #65656d;
    transition: 0.4s, ease-in-out;
    cursor: pointer;
}

.weather {
    padding: 6px;
}

h1.temp {
 margin: 5px;
}

h2.temp {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}



